@page "/"
@using Auction.Models
@using Auction.Pages.Components

<PageTitle>Auction</PageTitle>

<button onclick="@AddEmptySlot">+</button>
<button onclick="@SortSlotsByPrice">Sort</button>

<SlotList Slots="@_slots" DeletedSlot="DeleteSlot" ValueChanged="() => {_totalPrice = TotalPrice;}" />

<h3>Total Price: @_totalPrice</h3>

<SlotsRandom Slots="_slots" TotalPrice="_totalPrice"></SlotsRandom>


@code
{
    private decimal _totalPrice;
    private int _maxId;
    private List<Slot> _slots = new List<Slot>
    {
        new Slot(0, String.Empty, 0m)
    };

    public decimal TotalPrice => _slots.Sum(slot => slot.Price);
    
    public void SortSlotsById()
    {

        _slots = true ? 
            _slots.OrderByDescending(slot => slot.Id).ToList() :
            _slots.OrderBy(slot => slot.Id).ToList();;
    }
    
    public void SortSlotsByPrice()
    {

        _slots = true ? 
            _slots.OrderByDescending(slot => slot.Price).ToList() :
            _slots.OrderBy(slot => slot.Price).ToList();;
    }

    private void AddEmptySlot()
    {
        _slots.Add(new Slot(++_maxId, String.Empty, 0m));
    }

    private void DeleteSlot(Slot slot)
    {
        _slots.Remove(slot);
        _totalPrice = TotalPrice;
    }
}
